<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proxyjob.proxijob">

    <application
        android:name="proxyjob.proxijob.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/parse_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <activity android:name="proxyjob.proxijob.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="proxyjob.proxijob.Subscribe"></activity>
        <activity android:name="proxyjob.proxijob.SubscribeEntreprise"></activity>
        <activity android:name="proxyjob.proxijob.SubscribeClient"></activity>
        <activity android:name="proxyjob.proxijob.Login"></activity>
    </application>

</manifest>